<!DOCTYPE html>
<html>
{include file="index/header" title="ZZ - News"}
<body>
	<div class="container-fluid dashboard-left">
		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="#">NEWS</a></li>
		</ul>
	</div>
	<div class="container-fluid text-center dashboard-right">
		<div class="news-controls">
			<a href="/dashboard/publish" class="btn btn-info">Publish</a>
		</div>
		<div class="news-content">
			<h3>News Titles</h3><a href="/news/edit"></a>
			<h5>Publish Time - Author</h5>
			<p>News Content</p>
		</div>
	</div>
</body>
{include file="index/footer"}
</html>