<!DOCTYPE html>
<html>
{include file="index/header" title="ZZ - News Publish"}
<body>
	<div class="container form-div">
		<form method="post" action="/news/publish">
			<div class="form-group">
				<label for="news-title">Title: </label>
				<input type="text" class="form-control" name="news-title" id="news-title" value="(No Title)">
			</div>
			<div class="form-group">
				<label for="news-author">Author: </label>
				<input type="text" class="form-control" name="news-author" id="news-author" value="Anonymous">
			</div>
			<div class="form-group">
				<label for="news-content">Content: </label><br>
				<textarea name="news-content" class="form-control" id="news-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</textarea>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" name="publish" value="Publish">
			</div>
		</form>
	</div>
</body>
{include file="index/footer"}
</html>